
*{
	margin:0;
	padding:0;
}

#top{
    width: 100%;
    height: 15px;
    background-color: #2980B9;
    margin: 0;
    padding: 0;
}
#top1{
    width: 100%;
    height: 60px;
    background-color: #154360;
    margin: 0;
    padding: 0;
}

#box{
    width:60%;
    margin:auto;
    margin-top: 10px;
	/*border: 2px solid green;*/
}
#box1{
    width:55%;
    margin:auto;
    margin-top: 10px;
	/*border: 2px solid red;*/
}
h3{
	margin: 0;
    padding: 0;
}
